
<address>
    Meme AVE in New York City
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:meme2@example.com">sb43@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:memexd@example.com">ssh68@example.com</a>
</address>